<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="loki.url" source="loki.url"/>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${loki.url}</url>
        </http>
        <format>
            <label>
                <pattern>app=apigateway,host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "level":"%level",
                    "class":"%logger{36}",
                    "thread":"%thread",
                    "message": "%message",
                    "requestId": "%X{X-Request-ID}",
                    "traceId": "%X{trace_id}",
                    "spanId": "%X{span_id}"
                    }
                </pattern>
            </message>
        </format>
    </appender>
    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>


</configuration>